<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/components :: head"></head>

<body>

<!-- nav -->
<nav th:replace="fragments/components :: navbar"></nav>
<!-- end nav -->

<main role="main" class="container">
    <!-- alerts -->
    <nav th:replace="fragments/components :: alerts"></nav>
    <!-- end alerts -->

    <div class="jumbotron">
        <h1 th:text="'Block '+${block.Header.BlockHeight}"/>
        <p class="lead"><span style="font-weight: bold" th:text="${#strings.substring(blockHash,0,(block.Header.DifficultyTarget*(4.0/3.0)))}"/><span th:text="${#strings.substring(blockHash,(block.Header.DifficultyTarget*(4.0/3.0)))}"/></p>

        <a class="btn btn-primary" th:href="@{/block(height=${T(Math).max(block.Header.BlockHeight - 1, 0)})}" href="#" role="button">Previous</a><a class="btn btn-primary" th:href="@{/block(height=${T(Math).min(block.Header.BlockHeight + 1, T(com.bradyrussell.uiscoin.blockchain.BlockChain).Storage.BlockHeight)})}" href="#" role="button">Next</a>
        <p class="lead" >Time: <small th:text="${block.Header.Time} + ' (' + ${#dates.format(block.Header.Time*1000)} + ')'"/> </p>
        <p class="lead">Previous Block: <small><span th:if="${block.Header.BlockHeight == 0}" th:text="${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(block.Header.HashPreviousBlock) + ' (Not a real block)'}"/> <a th:unless="${block.Header.BlockHeight == 0}" th:href="@{/block(hash=${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(block.Header.HashPreviousBlock)})}" th:text="${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(block.Header.HashPreviousBlock)}" /></small> </p>
        <p class="lead" >Merkle Root: <small th:text="${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(block.Header.HashMerkleRoot)}"/> </p>
        <p class="lead" >Difficulty Target: <small th:text="${block.Header.DifficultyTarget} + ' bytes (' + ${#conversions.convert(block.Header.DifficultyTarget*(4.0/3.0), 'Integer')} + ' characters)'"/> </p>
        <p class="lead" >Nonce: <small th:text="${block.Header.Nonce}"/> </p>
        <p class="lead" >This block contains <span th:text="${block.Transactions.size()}"/> transaction<span th:if="${block.Transactions.size()>1}">s</span>:</p>
        <div class="list-group">
            <a th:each="tsxn, it : ${block.Transactions}" class="list-group-item list-group-item-action" th:classappend="${it.index == 0 ? 'list-group-item-primary':'list-group-item-info'}" th:href="@{/transaction(hash=${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(tsxn.getHash())})}" >

                <svg th:if="${it.index==0}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                    <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                    <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                </svg>


                <svg th:unless="${it.index==0}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                    <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                </svg>

                <span th:text="'Transaction ' + ${it.index} + ': ' "/>
                <small th:text="${T(com.bradyrussell.uiscoin.BytesUtil).Base64Encode(tsxn.getHash())}"/>
                <span th:text="' (' + ${T(com.bradyrussell.uiscoin.Conversions).SatoshisToCoins(tsxn.outputTotal)} + ' UISCoin)'"/>
            </a>
    <!--        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>-->
        </div>
    </div>
</main>


<!-- script -->
<div th:replace="fragments/components :: scripts"></div>
<!-- end script -->

</body>
</html>
