<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/components :: head"></head>

<body>

<!-- nav -->
<nav th:replace="fragments/components :: navbar"></nav>
<!-- end nav -->

<main role="main" class="container">
    <!-- alerts -->
    <nav th:replace="fragments/components :: alerts"></nav>
    <!-- end alerts -->

    <div class="jumbotron">
        <h1>UISCoin Block Explorer</h1>
        <p class="lead">The UISCoin blockchain is currently <span th:text="${#numbers.formatDecimal(blockchainSize/1024.0,1,2)}"></span> kilobytes. It contains <span th:text="${blockHeight+1}"></span> blocks and <span th:text="${numTransactions}"></span> transactions.</p>
    </div>
</main>


<!-- script -->
<div th:replace="fragments/components :: scripts"></div>
<!-- end script -->

</body>
</html>
