<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/components :: head"></head>

<body>

<!-- nav -->
<nav th:replace="fragments/components :: navbar"></nav>
<!-- end nav -->

<main role="main" class="container">
    <!-- alerts -->
    <nav th:replace="fragments/components :: alerts"></nav>
    <!-- end alerts -->

    <div class="jumbotron">
        <h1 th:text="${mempoolTransaction == null ? 'MemPool' : 'MemPool Transaction '+ T(com.bradyrussell.uiscoin.Util).Base64Encode(mempoolTransaction.getHash())}"/>
        <div th:if="${mempoolTransaction == null}">
            <p class="lead" >There are <span th:text="${mempool.size()}"/> pending transactions in the MemPool.</p>
            <div class="list-group">
                <a th:each="tsxn, it : ${mempool}" class="list-group-item list-group-item-action" th:classappend="${it.index == 0 ? 'list-group-item-primary':'list-group-item-info'}" th:href="@{/mempool(hash=${T(com.bradyrussell.uiscoin.Util).Base64Encode(tsxn.getHash())})}" >
                    <img src="icons/hourglass-split.svg" alt="Output"/>
                    <span th:text="'Pending Transaction ' + ${it.index} + ': ' "/>
                    <small th:text="${T(com.bradyrussell.uiscoin.Util).Base64Encode(tsxn.getHash())}"/>
                    <span th:text="' (' + ${T(com.bradyrussell.uiscoin.Conversions).SatoshisToCoins(tsxn.outputTotal)} + ' UISCoin)'"/>
                </a>
            </div>
        </div>
        <div th:unless="${mempoolTransaction == null}">
            <!----------------------------------------------->
            <a class="btn btn-primary" th:href="@{/mempool}" href="#" role="button"><img src="/icons/hdd-rack.svg" alt="MemPool"> Go to MemPool</a>
            <p class="lead">Time: <small
                    th:text="${mempoolTransaction.TimeStamp} + ' (' + ${#dates.format(mempoolTransaction.TimeStamp*1000)} + ')'"/></p>

            <p class="lead">Fees: <small th:text="${mempoolTransaction.fees+' Satoshis ('+T(com.bradyrussell.uiscoin.Conversions).SatoshisToCoins(mempoolTransaction.fees)+' UISCoin)'}"/></p>

            <p class="lead">This transaction has <span th:text="${mempoolTransaction.Inputs.size()}"/> input<span
                    th:if="${mempoolTransaction.Inputs.size()>1}">s</span>:</p>
            <div class="list-group">
             <span th:each="input, it : ${mempoolTransaction.Inputs}">
                 <a class="list-group-item list-group-item-action"
                    th:classappend="${it.index == -1 ? 'list-group-item-primary':'list-group-item-info'}"
                    th:href="@{/transaction(hash=${T(com.bradyrussell.uiscoin.Util).Base64Encode(input.InputHash)})}">
                     <img src="icons/play-fill.svg" alt="Input"/>
                     <span th:text="'Input ' + ${it.index} + ': ' "/>
                     <small th:text="${T(com.bradyrussell.uiscoin.Util).Base64Encode(input.InputHash) + ' Index: '+ input.IndexNumber}"/>
                     <!--<span th:text="' (' + ${T(com.bradyrussell.uiscoin.Conversions).SatoshisToCoins()} + ' UISCoin)'"/>-->
                 </a>
                 <a class="list-group-item list-group-item-action"
                    th:classappend="${it.index == -1 ? 'list-group-item-primary':'list-group-item-info'}"
                    th:href="@{/script(script=${T(com.bradyrussell.uiscoin.Util).Base64Encode(input.UnlockingScript)})}">
                     <img src="icons/code-square.svg" alt="Input"/>
                     <span th:text="'Input ' + ${it.index} + ' Unlocking Script: ' "/>
                     <small th:text="${T(com.bradyrussell.uiscoin.Util).Base64Encode(input.UnlockingScript)}"/>

                 </a>
             </span>
            </div><br/>
            <p class="lead">This transaction has <span th:text="${mempoolTransaction.Outputs.size()}"/> output<span
                    th:if="${mempoolTransaction.Outputs.size()>1}">s</span>:</p>
            <div class="list-group">
             <span th:each="output, it : ${mempoolTransaction.Outputs}"><!-- maybe color outputs whether they are spent -->
                 <a class="list-group-item list-group-item-action"
                    th:classappend="${(it.index == -1 ? 'list-group-item-primary':'list-group-item-info')}"
                    href="#">
                     <img src="icons/play.svg" alt="Output"/>
                     <span th:text="'Output ' + ${it.index} + ': ' "/>
                     <span th:text="' (' + ${T(com.bradyrussell.uiscoin.Conversions).SatoshisToCoins(output.Amount)} + ' UISCoin)'"/>
                 </a>
                 <a class="list-group-item list-group-item-action"
                    th:classappend="${it.index == -1 ? 'list-group-item-primary':'list-group-item-info'}"
                    th:href="@{/script(script=${T(com.bradyrussell.uiscoin.Util).Base64Encode(output.LockingScript)})}">
                     <img src="icons/code-square.svg" alt="Input"/>
                     <span th:text="'Output ' + ${it.index} + ' Locking Script: ' "/>
                     <small th:text="${T(com.bradyrussell.uiscoin.Util).Base64Encode(output.LockingScript)}"/>
                 </a>
                 <a th:if="${pubKeyHashes.get(it.index) != null}" class="list-group-item list-group-item-action"
                    th:classappend="${it.index == 0 ? 'list-group-item-primary':'list-group-item-info'}"
                    th:href="@{/address(address= ${pubKeyHashes.get(it.index)})}">
                     <img src="icons/wallet2.svg" alt="Input"/>
                    <small  th:text="'Script Pays to UISCoin Address: ' + ${pubKeyHashes.get(it.index)} + ''"/>
                 </a>
             </span>
                <!--        <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a secondary list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>-->
            </div>

            <!------------------------------------------------>
        </div>

    </div>
</main>


<!-- script -->
<div th:replace="fragments/components :: scripts"></div>
<!-- end script -->

</body>
</html>
