<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/components :: head"></head>

<body>

<!-- nav -->
<nav th:replace="fragments/components :: navbar"></nav>
<!-- end nav -->

<main role="main" class="container">
    <!-- alerts -->
    <nav th:replace="fragments/components :: alerts"></nav>
    <!-- end alerts -->

    <div class="jumbotron">
        <!-- todo use identicons for merkle root, and other hashes / addresses -->
        <h1>Script Decompilation</h1>
        <p class="lead">
        <code>
            <div th:each="scriptOp, it : ${scriptText}">
                <span th:title="${it.index}" class="initialism" th:text="${scriptOp}"></span>
                <br/>
            </div>
        </code>
        </p>
    </div>
</main>


<!-- script -->
<div th:replace="fragments/components :: scripts"></div>
<!-- end script -->

</body>
</html>
